// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Typeface reference:
// font-family: "HalisR-Book";
// font-family: "HalisR-Medium";
// font-family: "HalisR-Bold";
// font-family: "HalisR-S-Medium";
//
// Tisa Pro Regular
// font-family: ff-tisa-web-pro, serif;
// font-weight: 400;
// font-style: normal;
//
// Tisa Pro Medium Italic
// font-family: ff-tisa-web-pro, serif;
// font-weight: 600;
// font-style: italic;

// Serif font family
// @type List
$serif: ff-tisa-web-pro, serif;

// Sans-serif font family
// @type List
//$sans-book: "HalisR-Book", sans-serif; // reworked design to save font download time
$sans-reg: "HalisR-Regular", sans-serif;
$sans-med: "HalisR-Medium", sans-serif;
// $sans-bold: "HalisR-Bold", sans-serif; // reworked design to save font download time
$sans-sc: "HalisR-S-Medium", sans-serif;
$sans-sc-special: "HalisR-S-Medium", serif; // for the intro paragraph that mixes font weights – in case no fonts load, the entire thing will default to serif

// Copy text color
// @type Color
$text-color: #2c2525 !default;

// Main brand color
// @type Color
$brand-color: #e66711 !default;

// Accent Color 1
$accent-1: #e69e82 !default;

// Accent Color 2
$accent-2: #efbfaa !default;

// Accent Color 3
$accent-3: #f0e9e2 !default;

// Accent Color 4
$accent-4: #eeeee8 !default;

// Accent Color 5
$accent-5: #c4aaa0;

// Link border color 1
$link-border: #e7e7e0;

// Background color
$background-color: #fffbf9 !default;

// List grey
$warm-grey: #656361;

// logo bg
$logo-brown: #2c2525;

// Black
$black: #000;

// White
$white: #fff;

$border: #d7d3d1;

$link-blue: #a1d1fd;

//$button: #684d47;
$button: #2c2525;

$green: #3c8400;

// Container's maximum width
// @type Length
$max-width: 40rem !default;

// Breakpoints map
// @prop {String} keys - Keys are identifiers mapped to a given length
// @prop {Map} values - Values are actual breakpoints expressed in pixels
//$breakpoints: (
//  "small": 320px,
//  "medium": 768px,
//  "large": 1024px
//) !default;

// Relative or absolute URL where all assets are served from
// @type String
// @example scss - When using a CDN
//   $base-url: 'http://cdn.example.com/assets/';
//$base-url: "/assets/" !default;
