a.button,
.button {
  padding: 0.5rem;
  font-family: $sans-sc;
  text-transform: lowercase;
  font-size: 1.35rem;
  display: inline-block;
  text-decoration: none;
  color: $text-color;
  background-color: $background-color;
  border: 0.2rem solid $text-color;

  @include on-event {
    text-decoration: none;
    color: $background-color;
    background-color: $text-color;
    border: 0.2rem solid $text-color;
  }
}
