a.button,
.button {
  color: $background-color;
  background-color: $button;
  padding: 0.5rem;
  font-family: $sans-sc;
  text-transform: lowercase;
  font-size: 1.35rem;
  display: inline-block;
  text-decoration: none;
  border: 0;

  @include on-event {
    color: $background-color;
    background-color: $text-color;
    text-decoration: none;
    border: 0;
  }
}
