// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */

html,
body,
object {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Make the entire site fluid:
// everything is sized with rem, so as the html font-size changes all the elements adjust accordingly.
// Small @media adjustments still need to be made here and there.
html {
  @include fluid-type(font-size, 320px, 4000px, 62.5%, 85%);
  // font smoothing
  //-webkit-font-smoothing: antialiased; // for dark bg
  -webkit-font-smoothing: subpixel-antialiased; // for light bg
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative; // Need this for the project close button
  background-color: $background-color;
  color: $text-color;
  overflow-x: hidden; // Prevent horizontal scrollbar in IE
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */

a {
  transition: 250ms;
}

// a,
// a.mark {
//   color: $text-color;
//   text-decoration: underline;
//   text-underline-offset: 3px;
//   text-decoration-color: rgba($text-color, 0.2);
//   text-decoration-style: solid;
//   text-decoration-thickness: 3px;

//   @include on-event {
//     color: $text-color;
//     // text-decoration-color: rgba($text-color, 0.35);
//     // border-bottom: 1px dotted $link-border;
//   }
// }

a,
a:link,
a:visited {
  font-family: $sans-sc;
  color: $text-color;
  text-transform: lowercase;
  text-underline-offset: 4px;
  // text-decoration-color: $link-blue;
  text-decoration-color: $warm-grey;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
  transition: all 250ms ease-in-out;

  @include on-event {
    text-decoration-color: $border;
  }
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: $link-border;
  text-shadow: none;
}

::selection {
  background: $link-border;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0.5rem 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
  padding: 0;
}

iframe,
.iframe {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
