// -----------------------------------------------------------------------------
// Main page
// -----------------------------------------------------------------------------

.container {
  border-bottom: 6px solid $brand-color;
}

// -----------------------------------------------------------------------------
// Header
// -----------------------------------------------------------------------------

.header {
  margin: 0;
  padding: 0;

  // Logo, top right
  &__logo {
    height: auto;
    margin: 0 auto;
    position: relative;

    &--wrapper {
      position: absolute;
      top: 0;
      right: 0;
    }

    &--img {
      width: 4rem;
      height: 4rem;
      box-shadow: 0 0 3.5rem 0 rgba(0, 0, 0, 0.1);
    }
  }

  // Intro
  // ------------------------------------

  // Main heading

  &__heading {
    font-family: $sans-med;
    color: $brand-color;
    color: $text-color;
    font-size: 2rem;
    display: inline-block; // center the bg img under the heading
    margin: 0 0 1.2rem 0;
    padding: 8rem 0 5.5rem 0;
    background: url("../img/svg/arrow-down.svg") no-repeat bottom center;
    background-size: 0.75em auto;
    font-weight: normal;
  }

  &__intro {
    // This is the first set of paragraphs
    font-family: $serif;
    font-size: 1.5rem;
    line-height: 1.55;
    text-align: justify;

    @include bp-375 {
      font-size: 1.6rem;
    }

    &--1-1 {
      margin: 1rem 0 0 0;
      padding: 0;
    }

    &--1-2 {
      margin: 1rem 0 4rem 0;

      strong {
        font-weight: normal;
        font-family: $sans-sc-special;
      }
    }

    // Inline icons for sites, books, etc.
    // &--img {
    //   background-repeat: no-repeat;
    //   width: 1.8rem;
    //   height: auto;
    //   vertical-align: top;
    //   margin-top: 0.3rem;
    // }

    .inline-illustration {
      fill: #2c2525;
      width: 1.8rem;
      vertical-align: sub;
    }

    // This is the second ¶
    &--2 {
      font-style: italic;
      font-size: 1rem;
      line-height: 1.5;
      padding-top: 1rem;
      margin: 0 0 1rem 0;
    }
  }

  &__figure {
    margin: 0;

    // First figure
    &--wrapper-1 {
      display: block;
      height: auto;
      position: relative;
      margin-left: 7rem;

      @include bp-360 {
        margin-left: 8rem;
      }

      @include bp-375 {
        margin-left: 9rem;
      }

      @include bp-411 {
        //margin-left: 10rem;
      }
    }

    &--1 {
      border-bottom: 1px solid $accent-4;
      position: relative;
      margin-left: 1.5rem;

      object {
        width: 3.5rem;
        height: auto;
        vertical-align: bottom;
      }
    }

    // Second figure
    &--2 {
      margin: 0;
      float: right;

      object {
        width: 5rem;
        height: auto;
      }
    }

    &--figcaption {
      margin: 0;

      &-1 {
        // rotate and move the caption to the left of the image
        display: inline-block;
        transform: rotate(270deg);
        transform-origin: center top;
        margin: 0 0 0 -6.6rem;
        font-style: italic;
        color: $accent-5;
      }

      &-2 {
        text-align: center;
        font-style: italic;
        color: $accent-5;
      }
    }
  }
}

// -----------------------------------------------------------------------------
// Sections
// -----------------------------------------------------------------------------

.section {
  font-size: 1.7rem;

  &__heading {
    color: $text-color;
    font-family: $sans-sc;
    text-transform: lowercase;
    position: relative;
    font-size: inherit;
    font-weight: normal;
  }
}

// Recently, Previously, Roots & branches
// ------------------------------------

.section {
  margin-bottom: 5rem;

  a,
  a:link {
    font-size: 1.5rem; // make the links larger than the ol list numbers
  }
  a,
  a:link,
  a:visited {
    font-family: $sans-reg;
    color: $brand-color;
    color: $text-color;
  }
  a strong {
    color: darken($brand-color, 3%);
    font-family: $sans-sc;
    text-transform: lowercase;
  }

  &__work {
    clear: both;
    padding-top: 3rem;

    &--figure {
      margin: 0;
      background-color: #f48621;
    }

    &--img {
      width: 50%;
      margin: auto;
      display: block;
      padding: 3rem;
    }

    &--link {
      font-weight: normal;
      font-family: $sans-sc-special;
      color: $brand-color !important;
    }
  }

  &__roots {
    &--list {
      margin-left: 0;

      &-item-cv::after {
        @include roots-bg;
        background-image: url("../img/svg/pdf.svg");
      }

      &-item-linkedin::after {
        @include roots-bg;
        background-image: url("../img/svg/linkedin.svg");
      }

      &-item-github::after {
        @include roots-bg;
        background-image: url("../img/svg/github.svg");
      }

      li {
        padding: 0.5rem 0;
        background-image: url("../img/svg/roots-item-bg.svg");
        background-repeat: repeat-x;
        background-position: center left;
        position: relative;

        span {
          background-color: $background-color;
          padding-right: 0.5rem;
        }

        a {
          display: block;
          text-decoration: none;

          @include on-event {
            color: $brand-color;
            border: none;
            text-decoration: underline;
            text-decoration-color: $accent-5;
            text-underline-offset: 3px;
          }
        }
      }
    }
  }
}

// -----------------------------------------------------------------------------
// Footer
// -----------------------------------------------------------------------------

.footer {
  &__outro {
    &--link {
      float: right;
      font-family: $serif;
      font-style: italic;
      font-size: 1.4rem;
      margin-top: 4rem;
      padding: 5rem 0 2rem 0;
      display: inline-block;
      background: url("../img/svg/arrow-down.svg") no-repeat top left;
      background-size: 1.5rem auto;

      &::after {
        display: inline-block;
        content: "";
        background: url("../img/svg/email.svg") no-repeat;
        background-size: 2.4rem auto;
        width: 2.4rem; // same dims as bg size
        height: 2.4rem; // same dims as bg size
        vertical-align: middle;
        margin-top: -0.5rem;
        margin-left: 0.3rem;
        opacity: 0.8;
      }
    }

    &--links {
      font-family: $sans-reg;
      letter-spacing: 0.03rem;
      text-transform: uppercase;
      text-align: right;
      font-size: 0.8rem;
      color: $warm-grey;

      li {
        display: inline-block;

        &:nth-child(-n + 2):after {
          content: "//";
          color: $accent-1;
        }
        a {
          color: $warm-grey;
          &:hover,
          &:focus {
            color: darken($brand-color, 30%);
            border-bottom: 1px dotted $link-border;
          }
        }
      }
    }
  }
}

// -----------------------------------------------------------------------------
// Animations
// -----------------------------------------------------------------------------

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade_in_up {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fade_in_up_big {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fade_in_down {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fade_in_left {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fade_in_right {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.animate {
  animation-duration: 3000ms;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-fill-mode: both;
}

.animate-slow {
  animation-duration: 3000ms;
}

.animate-fast {
  animation-duration: 2500ms;
}

.delay-1 {
  animation-delay: 1s;
}

.delay-2 {
  animation-delay: 2s;
}

.delay-3 {
  animation-delay: 2.3s;
}

.delay-4 {
  animation-delay: 2.3s;
}

.delay-5 {
  animation-delay: 2.3s;
}

.delay-6 {
  animation-delay: 2.3s;
}

.delay-7 {
  animation-delay: 2.7s;
}

.delay-8 {
  animation-delay: 8s;
}

.delay-9 {
  animation-delay: 9s;
}

.delay-10 {
  animation-delay: 10s;
}

.fade-in {
  animation-name: fade_in;
}

.fade-out {
  animation-name: fade_out;
}

.fade-in-up {
  animation-name: fade_in_up;
}

.fade-in-up-big {
  animation-name: fade_in_up_big;
}

.fade-in-down {
  animation-name: fade_in_down;
}

.fade-out-down {
  animation-name: fade_out_down;
}

.fade-in-left {
  animation-name: fade_in_left;
}

.fade-in-right {
  animation-name: fade_in_right;
}

@keyframes animate_gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
